<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render partial: "users/sidebar", locals: { user: current_user, book: Book.new } %>
    </div>
    <div class="col-xs-9">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <td>image</td>
            <td>name</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg", size:"40x40" %></td>
              <td><%= user.name %></td>
              <td><%= link_to "show", user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>